<!DOCTYPE html>
<html>
<head>
	<title>后台设置</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">

	<link href="/static/css/index.css?v={$css_version}" rel="stylesheet" type="text/css" media="all">
	<script type='text/javascript' src='/static/js/jquery-1.11.0.min.js' ></script>
</head>
<body>
	<div class="black_bak"></div>
	<div class="message_tip"><i></i><span></span></div>
	<div class="main">
		<div class="sidebar">
			<p></p>
			<ul class="toolbar">
				<li>
					<div><img src="/static/img/home.png" width="25px" height="25px"><span>首页设置</span><i></i></div>
					<ul>
						<li class="setting" id="Round">横幅设置</li>
						<li class="setting" id="Category">产品分类设置</li>
						<li class="setting" id="Detail">产品详情设置</li>
					</ul>
				</li>
				<li id="Activity" class="direct"><div><b></b><span>活动设置</span></div></li>
				<li><div><img src="" width="25px" height="25px"><span>关于设置</span><i></i></div></li>
				<li id="Worker" class="direct"><div><b></b><span>客服设置</span></div></li>
				<li><div><img src="" width="25px" height="25px"><span>表单设置</span><i></i></div></li>
				<li id="Advise" class="direct"><div><b></b><span>我要推广</span></div></li>
				<li id="Diy" class="direct"><div><b></b><span>我要定制</span></div></li>
				<li id="Manager" class="direct"><div><b></b><span>我的客户经理</span></div></li>
			</ul>
		</div>
		<div class="content"></div>
	</div>
</body>

<script type="text/javascript">
	function picUpload(file,succCallback,endCallback){
	   	var url = "//" + document.domain + "/index/Upload";
	   	var xhr = new XMLHttpRequest();
	   	var formData = new FormData();
	   	formData.append("image", file);
	   	xhr.onreadystatechange = function() {
	       	if (xhr.readyState == 4) {
           	var resp;
           	try{
              		resp= $.parseJSON(xhr.responseText);
           	}catch(e){
               	resp = {msg_type:'danger',msg:'图片上传失败，请重试。'};
           	}
           	if(resp['code']==0){
               	if(succCallback) succCallback(resp);
           	}else{

           	}
           	if(endCallback) endCallback();
	       }
	   	};
	   	xhr.open("POST", url, true);
	   	xhr.send(formData);
	}

	function showMessageTip(msg,type){
		$(".message_tip>span").html(msg);
		if(type == "warning"){
			$(".message_tip>i").addClass('warning');
		}else{
			$(".message_tip>i").removeClass('warning');
		}
		$(".message_tip").animate({"top":"0px"});
		clearTimeout(window.timeMachine);
		window.timeMachine = setTimeout(function(){
			$(".message_tip").animate({"top":"-40px"});
		},3000);
	}

	function initButtonCookie(id, init = true){
		var selectId = "";
		if (document.cookie.length>0)
		{
			if(id){
				var exdate = new Date();
				exdate.setDate(exdate.getDate() + 1);
				document.cookie = "selectModuleId=" + id + ";expires=" + exdate.toGMTString();
			}else{
				c_name  = "selectModuleId";
				c_start = document.cookie.indexOf(c_name + "=");
			  	if (c_start != -1)
			    {
			    	c_start = c_start + c_name.length + 1;
			    	c_end 	= document.cookie.indexOf(";", c_start);
			    	if(c_end==-1) c_end = document.cookie.length;
			       selectId = unescape(document.cookie.substring(c_start,c_end))
			    }
			}
		}else{
			selectId = "Round";
			var exdate = new Date();
			exdate.setDate(exdate.getDate() + 1);
			document.cookie = "selectModuleId=" + id + ";expires=" + exdate.toGMTString();
		}

		if(selectId && init){
			$("#" + selectId).parent().siblings("div").trigger("click");
			$("#" + selectId).trigger("click");
			$("#" + selectId + ">div").trigger("click");
		}
	}

	function ajaxRequest(id){
		if(id){
			$.ajax({
		       url: "//" + document.domain + "/index/" + id,
		       type: 'GET',
		       dataType: 'JSON',
		       timeout: 30000,    //超时时间：30秒
		       error: function () {
		           //出现错误，直接显示通知。
		       },
		       success: function (data) {
		           if(data.code==0)
		           {
		               $('.content').html(data.html);
		           }
		       }
		   });
		}
	}

	$(document).on("click",".setting",function(){
		var id = $(this).attr("id");
		ajaxRequest(id);
		initButtonCookie(id, false);
		$(".setting").removeClass('active');
		$(this).addClass('active');
		$(".direct .active").removeClass('active');
	});

	$(document).on('click',".toolbar>li>div",function(){
		if($(this).parent().hasClass('direct')){
			$(".toolbar>li>ul .active").removeClass('active');
			$(".direct .active").removeClass('active');
			$(this).addClass("active");
			ajaxRequest($(this).parent().attr("id"));
			initButtonCookie($(this).parent().attr("id"), false);
		}else{
			if($(this).hasClass("active")){
				$(this).removeClass("active");
				$(this).siblings("ul").animate({"height":"0"});
				$(this).children("i").removeClass('up');
			}else{
				$(this).addClass("active");
				var count = $(this).siblings("ul").children("li").length;
				$(this).siblings("ul").animate({"height":count * 30 + "px"});
				$(this).children("i").addClass('up');
			}
		}
	});

	$(".toolbar>li>div").hover(function(){
		$(this).children("i").show();
	},function(){
		$(this).children("i").hide();
	});

	initButtonCookie();
</script>
</html>