<div class="title">横幅设置</div>
<div class="picContent">
	<div>
		{volist name="picList" id="pic"}
			{if condition="$pic.ID"}
				<div class="picInside" id="pic_{$pic.ID}" data-id="{$pic.ID}"><img src="/{$pic.source_url}" width="100%" height="100%"></div>
			{else /}
				<div class="picInside"></div>
			{/if}
		{/volist}
	</div>
	<span>建议上传横幅尺寸：750×420像素</span>
	<button class="add_pic">添加横幅<input type="file" name="image" id="add_pic" style="position: absolute;left: 0;top: 0;width: 78px;height: 26px;opacity: 0;"></button>
	<button class="remove_pic">删除横幅</button>
</div>

<div class="message_alert_round">
	<div class="header"><span>删除横幅确认</span><a></a></div>
	<span>删除横幅后，该横幅在移动端不再显示</span>
	<button class="submit">确定</button>
	<button class="cancel">取消</button>
</div>

<script type="text/javascript">
	$(window).resize(function() {
		var widths = parseInt($(".picContent").css("width"));
		var heights = parseInt($(".picContent").css("height"));
		var newWidth = ((widths - 20) / 3) - 18;
	  	$('.picInside').css('width',newWidth + "px");
	  	$('.picInside').css('height',newWidth * 0.56 + "px");
	}).resize();

	if($(".picInside>img").length >= 3){
		$(".add_pic").hide();
	}else{
		$(".add_pic").show();
	}

	$(document).on("click",".picInside",function(){
		$(".picInside").removeClass('active');
		if($(this).attr("id")){
			$(".remove_pic").show();
			$(this).addClass('active');
		}else{
			$(".remove_pic").hide();
		}
		if($(".picInside>img").length >= 3){
			$(".add_pic").hide();
		}else{
			$(".add_pic").show();
		}
	});

	$(document).on('click',".remove_pic",function(){
		$(".black_bak").show();
		$(".message_alert_round").show();
	});

	$(document).on("click",".message_alert_round .submit",function(){
		var id = $(".picContent .active").data("id");
		if(id){
			$.ajax({
		       	url: "__URL__/removePic",
		       	type: 'POST',
		       	dataType: 'JSON',
		       	timeout: 30000,    //超时时间：30秒
		       	data: {"id":id},
		       	error: function () {
		           //出现错误，直接显示通知。
		       	},
		       	success: function (data) {
		           if(data.code == 0){
		       			var roundList = data.data;
		       			$(".picContent>div").html("");
		       			for(var i in roundList){
		       				$(".picContent>div").append('<div class="picInside" id="pic_'+roundList[i]['ID']+'" data-id="'+roundList[i]['ID']+'"><img src="/'+roundList[i]['source_url']+'" width="100%" height="100%"></div>');
		       			}
		       			while($(".picInside").length < 3){
		       				$(".picContent>div").append('<div class="picInside"></div>');
		       			}
		       			$(window).resize();
		       			showMessageTip("删除成功");
		       			$(".black_bak").hide();
						$(".message_alert_round").hide();
		       		}
		       	}
		   	});
		}
	});

	$(document).on("click",".message_alert_round .cancel",function(){
		$(".black_bak").hide();
		$(".message_alert_round").hide();
	});

	$('#add_pic').change(function(){
       picUpload(this.files.item(0),function(data){
          	if(data.code == 0){
           	$.ajax({
			       	url: "__URL__/addPic",
			       	type: 'POST',
			       	dataType: 'JSON',
			       	timeout: 30000,    //超时时间：30秒
			       	data: {"picPath": "uploads/" + data.filePath},
			       	error: function () {
			           //出现错误，直接显示通知。
			       	},
			       	success: function (data) {
			       		if(data.code == 0){
			       			var roundList = data.data;
			       			$(".picContent>div").html("");
			       			for(var i in roundList){
			       				$(".picContent>div").append('<div class="picInside" id="pic_'+roundList[i]['ID']+'" data-id="'+roundList[i]['ID']+'"><img src="/'+roundList[i]['source_url']+'" width="100%" height="100%"></div>');
			       			}
			       			while($(".picInside").length < 3){
			       				$(".picContent>div").append('<div class="picInside"></div>');
			       			}
			       			$(window).resize();
			       			showMessageTip("添加成功");
			       		}
			       	}
			   	});
           }
       },function(){
        	showMessageTip("上传失败",'warning');
       });
       this.value='';
    });

</script>